## Extract API 
''' This notebook contains codes that are used to get the willy weather API data, including cleaning and preprocessing. The output file is CSV file
'''

In [1]:
#libraries
import requests
import json
import pandas as pd
import datetime

In [2]:
#call willy weather API
url = "https://api.willyweather.com.au/v2/N2FkOTJkOWFkZDA4NWIzOTZlODhkOD/locations/13960/weather.json?forecasts=tides&days=300&startDate=2021-04-01"
#request
resp = requests.get(url)
#load
mel_VIC = json.loads(resp.text)

### Preprocess and Clean Data

In [3]:
#get each date
dates = mel_VIC['forecasts']['tides']['days']
#create datframe
date_tide = pd.DataFrame(columns = ['id', 'date', 'time', 'height', 'type'])

tide_id = []
date = []
time = []
height = []
tide_type = []
i = 0
for dat in dates:
    for day in dat['entries']:
        tide_id.append('tide'+str(i))
        date_time = datetime.datetime.strptime(day['dateTime'], "%Y-%m-%d  %H:%M:%S")
        date.append(date_time.date())
        time.append(date_time.time())
        height.append(day['height'])
        tide_type.append(day['type'])
        i += 1

In [4]:
#add data to dataframe
date_tide['id'] = tide_id
date_tide['date'] = date
date_tide['time'] = time
date_tide['height'] = height
date_tide['type'] = tide_type

In [5]:
#show data
date_tide

            id        date      time  height  type
0        tide0  2021-04-01  00:37:00    0.39   low
1        tide1  2021-04-01  06:08:00    0.91  high
2        tide2  2021-04-01  12:56:00    0.22   low
3        tide3  2021-04-01  19:06:00    0.99  high
4        tide4  2021-04-02  01:21:00    0.42   low
...        ...         ...       ...     ...   ...
1058  tide1058  2021-12-30  18:01:00    0.27   low
1059  tide1059  2021-12-31  00:25:00    0.80  high
1060  tide1060  2021-12-31  05:48:00    0.51   low
1061  tide1061  2021-12-31  11:49:00    0.89  high
1062  tide1062  2021-12-31  19:03:00    0.23   low

[1063 rows x 5 columns]

In [6]:
#save to csv file
date_tide.to_csv('tide_date_data.csv')